@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Mulish:wght@300;400;600&display=swap');
body {
  font-family: 'DM Serif Text', serif;
/*  color: white !important;*/
  color: white ;
  background-color: rgb(14, 39, 42) !important;
}
body .leaflet-control .leaflet-legend,
body .leaflet-control .leaflet-legend * {
  color: black !important;
  text-shadow: none !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Text', serif;
}
/* Ensure the font is white everywhere */
body, p, span, div, h1, h2, h3, h4, h5, h6 {
  color: inherit !important;
}
/* Apply white color to specific elements you want */
body {
  color: white;
}
/* Override Bootstrap `.well` styling */
.well, .well p, .well div, .panel-body, .wellPanel {
  color: white !important;
  background-color: transparent !important; /* Ensure background doesn't interfere */
  border: none !important;
}

/* Fix markdown styling */
#markdown-content, #markdown-content p {
  color: white !important;
}

.con.modHelpButton {
  display:inline-block;
  margin:0px;
  font-size:14pt;
}

.bottom-fixed {
  position: fixed;
  bottom: 10px;  /* Adjust as needed */
  left: 10px;   /* Adjust as needed */
  z-index: 1000; /* Ensure it stays on top */
  width: 250px;  /* Set the width to 250px */
}

/* Sidebar main background */

.nav-tabs .nav-link {
  background-color: rgb(21, 59, 64); /* Inactive tabs */
  color: white;
}

.nav-tabs .nav-link:hover {
  background-color: rgb(30, 80, 85); /* Slightly lighter when hovered */
}

.nav-tabs .nav-link.active {
  background-color: white; /* Active tab */
  color: rgb(21, 59, 64); /* Text color for active tab */
  font-weight: bold;
}

.nav-tabs {
  border-bottom: 2px solid rgb(30, 80, 85); /* Border under tabs */
}

/* Increase font size for tabPanel titles */
.navbar-nav .nav-link {
  font-size: 18px !important; /* Set the desired font size */
  font-weight: bold; /* Optional: Make the font bold */
}

/* Ensure titles of selectInput are white */
label {
  color: white !important;
}

/* Change the font color of the Leaflet legend to black */
.leaflet-control-layers, .leaflet-control-layers-toggle, .leaflet-control-layers-list {
  color: black !important;
}

/* If needed, to style the individual legend labels */
.leaflet-control-layers label {
  color: black !important;
}

/* Optionally, if you want to adjust the legend item icons, set them to black */
.leaflet-control-layers .leaflet-control-layers-selector {
  background-color: black !important;
}
/* Ensure the font color of selected option is black */
.selectize-input, .select-input {
  color: black !important; /* Change the font color of the selected option */
  font-weight: bold !important;
}
/* Background color of selectInput dropdown */
.selectize-dropdown {
  background-color: white !important; /* Set a background color if needed */
}

/*
.navbar-header {
  width: 25% ;
  display: flex;
  align-items: center;
}
.navbar-logo {
  margin-top:-10px;
  max-width: 100%;
  max-height: 100%;
  margin-right: 10px;
  padding-right:10px;
  padding-bottom:10px",
}


.shiny-progress .bar {
  background-color:#FF0000;
  opacity:0.8;
}
.shiny-progress .progress {
  height:7px;
}
.rpkg {
  font-size:10pt;
  font-weight:bold;
}
.mod {
  display:inline;
  color:#699FA1;
  font-size:14pt;
  font-weight:bold;
}
.modHelpButton {
  color:#699FA1;
  margin:0px;
  font-size:12pt;
}
.modHelpButton:hover {
  color:#A5D6D9;
}
.modHelpButton:focus {
  color:#699FA1;
}
.pkgTitl {
  font-size:10pt;
  font-weight:bold;
  font-style:italic;
}
.pkgDes {
  font-size:10pt;
  font-style:italic;
}
.step {
  color: #DD8627;
  font-weight:bold;
  font-size:14pt;
}
.stepText {
  font-style:italic;
  font-size:14pt;
}
.butReset {
  background-color: #C51E10;
  color: white;
  padding: 5px 5px;
  border: none;
}
.butReset:hover {
  background-color: #830D03;
  color: white;
}
.butResXf {
  background-color: #C51E10;
  color: white;
  padding: 1px 1px;
  border: none;
}
.hrDashed {
  border: 0;
  border-bottom: 1px dashed #606060;
  background: transparent;
}
.hrDotted {
  border: 0;
  border-bottom: 1px dotted #606060;
  background: transparent;
}

.leaflet-top {
  z-index: 999 !important;
}
#save_warning {
  color: red;
}
.save_icon {
  color:#606060;
  margin:0px;
}
.mod_icon {
  color:#699FA1;
  margin:0px;
}
*/
